[submodule "core"]
	path = services/core
	url = https://github.com/craz/job-search-core.git
	branch = main
[submodule "hh"]
	path = services/hh
	url = https://github.com/craz/job-search-hh.git
	branch = main
[submodule "scoring"]
	path = services/scoring
	url = https://github.com/craz/job-search-scoring.git
	branch = main
[submodule "osint"]
	path = services/osint
	url = https://github.com/craz/job-search-osint.git
	branch = main
[submodule "content"]
	path = services/content
	url = https://github.com/craz/job-search-content.git
	branch = main
[submodule "web"]
	path = services/web
	url = https://github.com/craz/job-search-web.git
	branch = main
